{% extends "base.html" %}
{% block navbar %}
<nav class="bg-blue-700 px-4 py-2 shadow-lg sticky top-0 z-50 mb-8 overflow-x-auto">
  <ul class="flex gap-2 whitespace-nowrap">
    <li>
      <a href="/" class="text-white font-semibold hover:bg-blue-800 px-6 py-2 rounded-md transition">Volver al Inicio</a>
    </li>
  </ul>
</nav>
{% endblock %}
{% block content %}
    <body>
        <div class = "max-w-3xl mx-auto p-6">
            <h1 class = "text-xl font-bold text-center">Aplicación Base de Datos Transaccional</h1>
            <div class = "flex flex-col gap-4 mt-6">
                <!-- Botón principal 1 -->
                <div class="mb-4">
                  <button 
                    onclick="document.getElementById('submenu1').classList.toggle('hidden')" 
                    class="bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded text-center w-full">
                    Ventas
                  </button>
                  <div id="submenu1" class="hidden mt-2 flex flex-col gap-2">
                    <a href="/ventas/listar" 
                            class="bg-gray-200 hover:bg-gray-300 px-4 py-2 rounded text-center">Listar Ventas</a>
                    <a href="/ventas/modificar" 
                            class="bg-gray-200 hover:bg-gray-300 px-4 py-2 rounded text-center">Modificar Ventas</a>
                    <a href="/ventas/eliminar"
                            class="bg-gray-200 hover:bg-gray-300 px-4 py-2 rounded text-center">Eliminar Ventas</a>
                    <a href="/ventas/add"
                            class="bg-gray-200 hover:bg-gray-300 px-4 py-2 rounded text-center">Añadir Ventas</a>
                  </div>
                </div>
        
                <!-- Botón principal 2 -->
                <div class="mb-4">
                  <button 
                    onclick="document.getElementById('submenu2').classList.toggle('hidden')" 
                    class="bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded text-center w-full">
                    Ingredientes Usados
                  </button>
                  <div id="submenu2" class="hidden mt-2 flex flex-col gap-2">
                    <a href="/ingredientes/listar"
                            class="bg-gray-200 hover:bg-gray-300 px-4 py-2 rounded text-center">Listar Ingredientes Usados</a>
                    <a href="/ingredientes/modificar"
                            class="bg-gray-200 hover:bg-gray-300 px-4 py-2 rounded text-center">Modificar Ingredientes Usados</a>
                    <a href="/ingredientes/eliminar"
                            class="bg-gray-200 hover:bg-gray-300 px-4 py-2 rounded text-center">Eliminar Ingredientes Usados</a>
                    <a href="/ingredientes/add"
                            class="bg-gray-200 hover:bg-gray-300 px-4 py-2 rounded text-center">Añadir Ingredientes Usados</a>
                  </div>
                </div>
                  <!-- Botón principal 3 -->
                <div class="mb-4">
                  <button 
                    onclick="document.getElementById('submenu3').classList.toggle('hidden')" 
                    class="bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded text-center w-full">
                    Reservas Mesas
                  </button>
                  <div id="submenu3" class="hidden mt-2 flex flex-col gap-2">
                    <a href="/reservas/listar"
                            class="bg-gray-200 hover:bg-gray-300 px-4 py-2 rounded text-center">Listar Reservas Mesas</a>
                    <a href="/reservas/modificar"
                            class="bg-gray-200 hover:bg-gray-300 px-4 py-2 rounded text-center">Modificar Reservas Mesas</a>
                    <a href="/reservas/eliminar"
                            class="bg-gray-200 hover:bg-gray-300 px-4 py-2 rounded text-center">Eliminar Reservas Mesas</a>
                    <a href="/reservas/add"
                            class="bg-gray-200 hover:bg-gray-300 px-4 py-2 rounded text-center">Añadir Reservas Mesas</a>
                  </div>
                </div>
                <!-- Botón Datos -->
                <div class="mb-4">
                  <button 
                    class="bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded text-center w-full">
                    Cargar Datos de Prueba
                  </button>
                </div>
                <!-- Botón Datos -->
                <div class="mb-4">
                  <form action="/limpiar_tablas" method="post" onsubmit="localStorage.setItem('showNotif', 'info')">
                    <button type="submit"
                      class="bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded text-center w-full">
                      Limpiar Base de Datos
                    </button>
                  </form>
                </div>
            </div>
      <!-- Contenedor Notificaciones -->
      <div class="fixed bottom-4 right-4 z-50 flex flex-col items-end gap-y-3">
        <!-- Notificación Éxito -->
        <div id="exitocard" class="hidden relative transition ease-in-out delay-50 hover:-translate-y-1 hover:scale-110 duration-300">

        <!-- Barra Progreso -->
        <div id="exitobar" class="absolute top-0 left-0 w-full h-1 bg-green-500 rounded-sm"></div>

        <!-- Icono -->

        <div class="absolute top-2 left-3 bg-green-50 rounded-full">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="size-11 stroke-green-500">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
          </svg>

        </div>

        <!-- Contenido -->
        <div class="h-28 w-96 bg-green-100 rounded-md flex items-center overflow-hidden">

          <!-- Burbujas -->
          <div class="relative h-full w-20">
            <div class="absolute size-24 -bottom-6 -left-12 rounded-full bg-green-200"></div>
            <div class="absolute size-16 -bottom-6 left-1 rounded-full bg-green-300/60"></div>
            <div class="absolute size-3 bottom-10 left-1 rounded-full bg-green-300/80"></div>
          </div>

          <!-- Texto -->

          <div>

            <div class="flex items-center justify-between mb-1 ml-4">
              <h2 class="text-xl font-semibold">Éxito</h2>
              <button onClick="esconder('exito')">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                  stroke="currentColor" class="size-6 stroke-green-500 cursor-pointer mr-2">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                </svg>
              </button>
            </div>
            <p class="ml-4 mr-1">¡La base de datos fue llenada con éxito! </p>
          </div>
      </div>

    
      
        </div>
        <!-- Notificacion Información -->
        <div id="infocard" class="hidden relative transition ease-in-out delay-50 hover:-translate-y-1 hover:scale-110 duration-300">

          <!-- Barra Progreso -->
          <div id="infobar" class="absolute top-0 left-0 w-full h-1 bg-sky-500 rounded-sm"></div>

          <!-- Icono -->
          <div class="absolute top-2 left-3 bg-sky-50 rounded-full">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="size-11 stroke-sky-500">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M12 9v3.75m9-.75a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9 3.75h.008v.008H12v-.008Z" />
            </svg>
          </div>

          <!-- Contenido -->
          <div class="h-28 w-96 bg-sky-100 rounded-md flex items-center overflow-hidden">

            <!-- Burbujas -->
            <div class="relative h-full w-20">
              <div class="absolute size-24 -bottom-6 -left-12 rounded-full bg-sky-200"></div>
              <div class="absolute size-16 -bottom-6 left-1 rounded-full bg-sky-300/60"></div>
              <div class="absolute size-3 bottom-10 left-1 rounded-full bg-sky-300/80"></div>
            </div>

            <!-- Texto -->
            <div>
              <div class="flex items-center justify-between mb-1 ml-4">
                <h2 class="text-xl font-semibold">Información</h2>
                <button onClick="esconder('info')">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="size-6 stroke-blue-500 cursor-pointer mr-2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                  </svg>
                </button>
              </div>
              <p class="ml-4 mr-1">¡Su base de datos fue limpiada con éxito!</p>
            </div>
          </div>

        </div>

      </div>
    </body>

{% endblock %}