{% extends "base.html" %}
{% block navbar %}
<nav class="bg-blue-700 px-4 py-2 shadow-lg sticky top-0 z-50 mb-8 overflow-x-auto">
  <ul class="flex gap-2 whitespace-nowrap">
    <li>
      <a href="/" class="text-white font-semibold hover:bg-blue-800 px-6 py-2 rounded-md transition">Volver al Inicio</a>
    </li>
  </ul>
</nav>
{% endblock %}
{% block content %}
    <body>
        <div class = "max-w-3xl mx-auto p-6">
            <h1 class = "text-xl font-bold text-center">Aplicación Base de Datos Transaccional</h1>
            <div class = "flex flex-col gap-4 mt-6">
                <!-- Botón principal 1 -->
                <div class="mb-4">
                  <button 
                    onclick="document.getElementById('submenu1').classList.toggle('hidden')" 
                    class="bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded text-center w-full">
                    Ventas
                  </button>
                  <div id="submenu1" class="hidden mt-2 flex flex-col gap-2">
                    <a href="/ventas/listar" 
                            class="bg-gray-200 hover:bg-gray-300 px-4 py-2 rounded text-center">Listar Ventas</a>
                    <a href="/ventas/modificar" 
                            class="bg-gray-200 hover:bg-gray-300 px-4 py-2 rounded text-center">Modificar Ventas</a>
                    <a href="/ventas/eliminar"
                            class="bg-gray-200 hover:bg-gray-300 px-4 py-2 rounded text-center">Eliminar Ventas</a>
                    <a href="/ventas/add"
                            class="bg-gray-200 hover:bg-gray-300 px-4 py-2 rounded text-center">Añadir Ventas</a>
                  </div>
                </div>
        
                <!-- Botón principal 2 -->
                <div class="mb-4">
                  <button 
                    onclick="document.getElementById('submenu2').classList.toggle('hidden')" 
                    class="bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded text-center w-full">
                    Ingredientes Usados
                  </button>
                  <div id="submenu2" class="hidden mt-2 flex flex-col gap-2">
                    <a href="/ingredientes/listar"
                            class="bg-gray-200 hover:bg-gray-300 px-4 py-2 rounded text-center">Listar Ingredientes Usados</a>
                    <a href="/ingredientes/modificar"
                            class="bg-gray-200 hover:bg-gray-300 px-4 py-2 rounded text-center">Modificar Ingredientes Usados</a>
                    <a href="/ingredientes/eliminar"
                            class="bg-gray-200 hover:bg-gray-300 px-4 py-2 rounded text-center">Eliminar Ingredientes Usados</a>
                    <a href="/ingredientes/add"
                            class="bg-gray-200 hover:bg-gray-300 px-4 py-2 rounded text-center">Añadir Ingredientes Usados</a>
                  </div>
                </div>
                  <!-- Botón principal 3 -->
                <div class="mb-4">
                  <button 
                    onclick="document.getElementById('submenu3').classList.toggle('hidden')" 
                    class="bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded text-center w-full">
                    Reservas Mesas
                  </button>
                  <div id="submenu3" class="hidden mt-2 flex flex-col gap-2">
                    <a href="/reservas/listar"
                            class="bg-gray-200 hover:bg-gray-300 px-4 py-2 rounded text-center">Listar Reservas Mesas</a>
                    <a href="/reservas/modificar"
                            class="bg-gray-200 hover:bg-gray-300 px-4 py-2 rounded text-center">Modificar Reservas Mesas</a>
                    <a href="/reservas/eliminar"
                            class="bg-gray-200 hover:bg-gray-300 px-4 py-2 rounded text-center">Eliminar Reservas Mesas</a>
                    <a href="/reservas/add"
                            class="bg-gray-200 hover:bg-gray-300 px-4 py-2 rounded text-center">Añadir Reservas Mesas</a>
                  </div>
                </div>
                <!-- Botón Datos -->
                <div class="mb-4">
                  <form action="/cargar_datos_prueba" method="POST">
                    <button 
                      type="submit"
                      class="bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded text-center w-full">
                      Cargar Datos de Prueba
                    </button>
                  </form>
                </div>
            </div>


    </body>

{% endblock %}